.container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .bold{
    font-weight: bold;
  }
  
  .interval-wrapper {
    align-self: flex-end;
    justify-self: flex-end;
    position: relative;
    top: -6rem;
    left: 69rem;
  }

  .close-button {
    background: transparent url('../images//menu_burger/cross.svg') no-repeat center center;
    width: 34px;
    height: 34px
  }

  .right-2 {
    right: -4rem;
  }
  .mb-3-25 {
    margin-bottom: 3.25rem;
  }
  
  .slider {
    position: relative;
    right: -1.4rem;
    width: 20rem;
  }
  
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }
  
  .slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    background-color: #9fe5e1;
    z-index: 2;
  }
  
  .slider__left-value,
  .slider__right-value {
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
  }
  
  .slider__left-value {
    left: 6px;
  }
  
  .slider__right-value {
    right: -4px;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 22rem;
    outline: none;
  }
  
  .thumb--zindex-3 {
    z-index: 3;
  }
  
  .thumb--zindex-4 {
    z-index: 4;
  }
  
  .thumb--zindex-5 {
    z-index: 5;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  