include:
  - project: resinglog/ci-templates
    file: docker-publish.yml
    inputs:
      image_name: istex/istex-search
      registry_url: $CI_NEXUS_REGISTRY_URL:$CI_NEXUS_DOCKER_PORT

.is-working-branch: &is-working-branch
  if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE != "merge_request_event"

.is-default-branch: &is-default-branch
  if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.is-schedule: &is-schedule
  if: $CI_PIPELINE_SOURCE == "schedule"

.is-not-schedule: &is-not-schedule
  if: $CI_PIPELINE_SOURCE == "schedule"
  when: never

.manual-if-renovate-commit: &manual-if-renovate-commit
  if: $CI_COMMIT_MESSAGE =~ /^\[Renovate\]/ && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual

default:
  image:
    name: node:24.13.0-alpine
  tags:
    - docker
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
  before_script:
    - corepack enable
    - corepack prepare pnpm@latest-10 --activate
    - pnpm config set store-dir .pnpm-store
    - pnpm install --frozen-lockfile

stages:
  - lint
  - build
  - test
  - deploy
  - publish
  - renovate

lint:
  stage: lint
  rules:
    - *is-working-branch
  script:
    - pnpm run lint:ci

build:
  stage: build
  rules:
    - *is-working-branch
  script:
    - pnpm run build

test:
  stage: test
  rules:
    - *is-working-branch
  script:
    - pnpm run test

deploy:dev:
  stage: deploy
  tags:
    - shell
    - runner-dev
  environment: development
  resource_group: development
  cache: []
  rules:
    - *is-not-schedule
    - *manual-if-renovate-commit
    - *is-default-branch
  before_script: []
  script:
    - ./scripts/deploy-dev.sh

docker:publish:
  cache: []

renovate:
  stage: renovate
  image: renovate/renovate:42.71.0
  interruptible: false
  cache: []
  rules:
    - *is-schedule
  before_script: []
  script:
    - renovate
  variables:
    RENOVATE_AUTODISCOVER: true
    RENOVATE_AUTODISCOVER_FILTER: "/^istex\/istex-search\/istex-search$/"
    RENOVATE_PLATFORM: gitlab
    RENOVATE_ENDPOINT: $CI_API_V4_URL
    RENOVATE_COMMIT_MESSAGE_PREFIX: "[Renovate]"
