body {
	padding-top: 0px;
	font-family: 'Open sans', sans-serif!important;
	font-size: 16px;
	color: #303030;
	background: url(../img/BG_ISTEX_LIGHT_DESKTOP.jpg) center repeat;
}
#pageHead {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(69, 140, 165,0.1);
}
#pageFooter {
	background-color: rgba(69, 140, 165,0.1);
}
.text-center img {
	padding-top: 10px;
}
#istexTools {
	width: 100%;
	background-color: #000;
	text-align: center;
}
.istexLogo {
	width: 60px;
	height: 60px;
}
/* Firefox n'affiche pas l'image lorsque la largeur et
la hauteur sont exprimées en pourcentages
Ancien:
width: 76%;
height: 76%;
padding-top: 30px;
padding-left: 12%;
*/
.dataLogo {
	width: 10em;
	height: 10em;
	padding-top: 30px;
}

#pageTitle {
	font-size: 3rem;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	padding: 15px 0 15px 0;
}
#pageTitle a {
	color: #303030;
}
.navbar {
	display: none;
}
.property_language {
	display: none;
}
.property_label_container {
	margin-top: 50px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
.property_value {
	font-family: 'Open Sans', sans-serif;
}
._m70zbn + div {
	margin-left: 10px;
}
.property_value_container button {
	background-color: #000!important;
}
.property_value_container button:hover {
	background-color: #458ca5!important;
}
.property_label_container button {
	background-color: transparent!important;
}
.property_value_container  button>div>div>span {
	color: #c4d733!important;
	font-weight: 700!important;
}
.property_value_container  button:hover>div>div>span {
	color: #fff!important;
}
.open configure-field {
	background-color: transparent!important;
}
.dataDisplay {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 1px #ccc solid;
}
.property {
	padding-right: .5rem;
	padding-left: .5rem;
	min-width: 300px;
}
.bloc-lg {
	margin-top: 50px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.bloc-sm {
	padding: 10px 0 10px 0;
}
.property_label {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem!important;
	color: #000!important;
}
.property_scheme {
	background: url(../img/information.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: right;
	line-height: 2.4;
}
.property_scheme a {
	visibility: hidden;
}
.property_scheme:hover a {
	visibility: visible;
	padding-right: 30px;
}
._m70zbn {
	justify-content: space-between;
}
._150t054 {
	height: 200px;
	border: 1px solid #303030;
	padding : 0!important;
	width: 350px!important;
	margin: 1%!important;
	background-color: transparent!important;

}
._1gevi64 {
	padding:0!important;
	background-color: transparent!important;
}
._1gevi64>div {
	height: 100%;
}
._1gevi64 div a {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
._1hp9ikc, ._3hmsj, ._kntyad {
	text-align: center;
}
._1hp9ikc {
	text-transform: capitalize;
	padding: 20px 10px 5px 10px;
	font-weight: bold;
	font-size: 2rem!important ;
}
._kntyad {
	padding: 5px 5px 0 5px;
	font-size: 10px;
	color: #000!important;
	height: 78px;
	max-height: 85px;
	overflow: hidden;
}
._3hmsj  {
	border-top: 1px solid #303030;
	height: 50px!important;
	line-height: 50px!important;
	color: #c4d733!important;
	background-color: #000;
	position: relative;
	flex: 0 0 auto !important;
}
._3hmsj:hover {
	color: #fff!important;
	background-color: #458ca5;
}
._3hmsj:hover:before {
	background-image: url(../img/ic_savoir_plus_white.svg);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 35px center;
}
._3hmsj:before {
	display: block;
	padding-left: 35px;
	width: 100%;
	height: 50px;
	content: "EN SAVOIR PLUS";
	font-size: 18px;
	background-image: url(../img/ic_savoir_plus_jaune.svg);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 35px center;
}
.btn-admin {
	font-weight: 700;
}
.resourceURI>div:first-child {
	margin-top: 50px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
.main-resource-section button, a[tabindex] div span {
	color: #337ab7!important;
}
.property_label button:hover {
	background-color: transparent!important;
}
button[tabindex] svg {
	fill: #c4d733!important;
}
button:hover>div>svg, button:hover>svg {
	fill: #fff!important;
}
.header-resource-section>div>div>button svg {
	fill: #000!important;
}
.configure-field svg {
	fill: #c4d733!important;
}
.main-resource-section svg, .share-export svg, .select-version svg  {
	fill: #337ab7;
}
.header-resource-section button[tabindex]:hover svg {
	fill: #fff!important;
}
._ucrqgx {
	padding: 0!important;
	background-color: transparent!important;
	border: 1px solid #303030;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 150px;
}
._ugrqgx div {
	margin: 0!important
}
._ucrqgx ._kntyad {
	height: 53px!important;
}
@media only screen and (max-width:646px) {
	.property {
		width: 100%!important;
	}
}


.indent {
	padding-left: 52px;
}

.determinate-inline input[type="checkbox"] {
	opacity: 0;
	position: absolute;
}

.determinate-inline input[type="checkbox"] + span:after{
	content: '';
	margin: 0px 10px -1px 20px;
	display: inline-block;
	cursor: pointer;
	width: 14px;
	height: 14px;
	background: white;
	border: 2px solid grey;
	border-radius: 4px;
	transition: .3s;
}

.determinate-inline input[type="checkbox"]:checked + span:after {
	background:   #42f445;
}

.determinate-inline input[type="checkbox"]:disabled:checked + span:after{
	background:  #42f445;
}

.determinate-inline input[type="checkbox"]:disabled + span:after{
	background-color: grey;
}

.determinate-inline input[type="checkbox"]:disabled:hover + span:after{
	border-color: grey;
	cursor: not-allowed;
}


.labelFormat{
	font-weight: normal;
}

.indeterminate input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	cursor: pointer;
}

.indeterminate input[type="checkbox"] + span:after{
  	 content: '-';
    margin-right: 10px;
    margin-bottom: -3px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #458ca5;
    border: 2px solid grey;
    border-radius: 4px;
    transition: .3s;
    text-align: center;
    box-sizing: content-box; 
}

.indeterminate input[type="checkbox"]:checked + span:after {
	background:#458ca5;
	content: "-";
}

.determinate.checkbox{
	display: inline-block;
}

.indeterminate.checkbox{
	display: inline-block;
}

.determinate input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	cursor: pointer;
}

.determinate input[type="checkbox"] + span::after {
    content: '\00a0';
    margin-right: 10px;
    margin-bottom: -3px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: white;
    border: 2px solid grey;
    border-radius: 4px;
    transition: .3s;
    text-align: center;
    box-sizing: content-box; 
}

.determinate input[type="checkbox"]:checked + span:after {
	background:   #c4d733;
	content: "✔";
}

.determinate input[type="checkbox"]:disabled {
	background-color: grey;
	cursor: not-allowed;
}
.determinate input[type="checkbox"]:disabled +span:after{
	background-color: grey;
	border-color: grey;
}


.determinate input[type="checkbox"]:disabled:hover +span:after{
	border-color: grey;
}


#glyphiconFiletype {
	padding-left: 15px;
	font-size: 18px;
}

disable-download
.radioGroupRankBy {
	margin-left: 15px;
}

/*.determinate-inline#checkboxmetadatajson{
	display: none
}*/
.otherfileGroup, .fulltextGroup, .enrichmentsGroup {
    min-width: 33%;
    display: inline-block;
    vertical-align: text-top;
    padding: 5px;
}

.otherfileGroup{

}

.fulltextGroup{

}
.enrichmentsGroup{

}

.determinate{
	padding-top:5px; 
}

.indeterminate{
	padding-top:5px; 
}

.btn-theme img{
    padding: 0;
  }

 .buttonsHistory img{
 	margin-left: 10px;
 	width: 20px;
 	vertical-align: baseline;
 	cursor: pointer;
 }

 body > footer {
    background-color: rgba(0,0,0,.1);
    margin-top: auto;
    text-align: center;
    padding-top: 20px;
    flex-shrink: 0;
    font-size: 1.2rem;
}

body > footer > ul {
	margin-top: 10px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body > footer a {
    padding: 0 .5em;
}

.menu-pied li + li::before {
    content: "|";
}

#menu-partenaires li {
    padding: 0 20px 20px 20px;
}

.anr img{
	display: inline-block;
	vertical-align: middle;
}
.popover .fa-lightbulb-o {
	font-size: 20px;
}
