/*-----------------------------------------------------------------------------------
        Companyportfolio
        Built with Blocs
-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a:hover{text-decoration: none; cursor:pointer;}

a,button{outline: none!important; } /* Prevent ugly blue glow on chrome and safari */


/* Globals type styling */
 h1, h2, h3, h4, h5, h6, label, .btn {
	font-family:Montserrat;
}


/* Site container width */

.container{
	max-width:1170px;
}
.container-fluid{
    padding-left:0px !important;
    padding-right:0px  !important;
}
/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-xl{
	padding:50px 50px;
}
.bloc-lg{
	padding:10px 10px;
}
.bloc-md{
	padding:10px;
}
.bloc-sm{
	padding:20px 20px;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc h1, .d-bloc h2, .d-bloc h3, .d-bloc h4,.d-bloc h5, .d-bloc h6, .d-bloc .ico{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc a{
	color:rgba(255,255,255,.6);
}
.d-bloc a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel h1,.d-bloc .panel h2, .d-bloc .panel h3, .d-bloc .panel h4, .d-bloc .panel h5, .d-bloc .panel h6, .d-bloc .ico{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel a{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel a:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.l-bloc{
	color:#303030;
}
.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc h1,.l-bloc h2,.l-bloc h3,.l-bloc h4,.l-bloc h5, .l-bloc h6, .l-bloc .ico{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.l-bloc a{
	color:#337ab7;
}
.l-bloc a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.l-bloc .btn-wire, .l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
.voffset-lg{
	margin-top:80px;
}

/* Bloc text custom styling */

#header h3{
	font-size: 32px;
	font-weight: 900;
	font-family: Montserrat;
}
#header p{
	font-weight: 400;
	font-family: Montserrat;
}
#services h3{
	font-weight: 400;
	font-family: Montserrat;
}
#lodex h2{
	font-weight: 400;
	font-family: Montserrat;
}
#team h2{
	font-weight: 400;
	font-family: Montserrat;
}
#bloc-6 h3{
	line-height:50px;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar{
	margin-bottom: 0;
	z-index:1;
}
.navbar-brand{
	height:auto;
	padding:15px 15px;
	font-size:25px!important;
	font-weight:normal;
	font-weight:600;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.navbar-brand{
	padding: 15px 15px;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
	z-index:1;
}
.nav > li{
	margin-top:4px;
	font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav-invert .site-navigation{
		left:20px;
		right:0;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		margin-top:20px;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 14px 15px;
}

nav .caret{
	margin: 0 5px;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF!important;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-wire{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-wire:hover{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-xl{
	padding: 16px 40px;
	font-size: 28px;
}
.dropdown a .caret{
	margin:0 0 0 5px}
/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:30px!important;
}
.icon-xl{
	font-size:100px!important;
}

/* Image Frame */
.img-frame,.img-frame-md,.img-frame-lg,.img-frame-rd,.img-frame-rd-md,.img-frame-rd-lg{
	background:#FFF;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow:0 2px 2px rgba(0,0,0,0.05);
	padding:4px;
}
.img-frame{
	border-radius:3px;
}
.img-frame-md,.img-frame-lg{
	border-radius:6px;
}
.img-frame-md,.img-frame-rd-md{
	padding:8px;
}
.img-frame-lg,.img-frame-rd-lg{
	padding:14px;
}



.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}



/* iFrame */

iframe{
	border:0;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}
/* = Lightbox
-------------------------------------------------------------- */

a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:32px;
	width:50px;
	height:50px;
	margin-left:-25px;
	border-radius: 50%;
	background:rgba(0,0,0,.6);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	animation-fill-mode:none;
}
#lightbox-modal .modal-dialog{
	width:90%;
	max-width:900px;
	margin:30px auto 0;
}
#lightbox-modal .modal-dialog img{
	margin: 0 auto;
}
.lightbox-caption{
	padding: 20px;
	color: #FFF;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 5px;
}
.close-lightbox{
	display: none;
	font-size: 40px;
	position: absolute;
	top:8px;
	right:20px;
	z-index: 20;
}
.next-lightbox, .prev-lightbox{
	display: inline-block;
	width:0;
	height:0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	transition: all .2s ease-in-out;
	position: absolute;
	top:50%;
}
.next-lightbox{
	right:25px;
	border-left: 20px solid rgba(255,255,255,.4);
}
.prev-lightbox{
	left:25px;
	border-right:20px solid rgba(255,255,255,.4);
}
.prev-lightbox:hover, .next-lightbox:hover{
	border-right-color:rgba(255,255,255,.9);
	border-left-color:rgba(255,255,255,.9);
}

/* = Custom Colour Styling
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-carmine-pink{
}
.bgc-outer-space{
	background-color:#47454B;
}
.bgc-white{
}
.bgc-platinum{
}
/* Text colour styles */

.tc-white{
	color:#ffffff!important;
}
/* Button colour styles */

.wire-btn-carmine-pink{
	color:#F35342!important;
	border-color:#F35342!important;
}
.wire-btn-white{
	color:#ffffff!important;
	border-color:#ffffff!important;
}
/* Icon colour styles */

.icon-carmine-pink{
	color:#000;
	border-color:#000;
}
.icon-outer-space{
	color:#47454B!important;
	border-color:#47454B!important;
}

/* Bloc image backgrounds */

.bg-city-overlay{
	background-image:url("img/city-overlay.png");
}


.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

/* = Mobile adjustments
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 768px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
}
@media (max-width: 767px)
{
    body {
        font-size: 12px !important;
    }

    .widget{
        width: 100% !important;
        margin-top: 10px;
    }


    .nav > li > a{
        font-size: 14px !important;
        padding: 10px 5px !important;
    }

    .bottom-menu-txt{
        font-size: 14px !important;
    }
    .bottom-menu-ico{
        font-size: 38px !important;
    }
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px!important;
        padding-right:10px!important;
    }
    #hero-bloc h1{
        font-size:40px;
    }
    #hero-bloc h2{
        font-size:34px;
    }
    #hero-bloc h3{
        font-size:25px;
    }
    .bloc{
        padding-left: 0;
        padding-right: 0;
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .b-parallax{
        background-attachment:scroll;
    }

    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        padding-left:15px;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero{
        padding:50px 0;
    }
    .hero-nav{
        left:-1px;
        right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;
        margin: -10px 10px 0 0;
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left;
    }
    .btn.pull-left, .btn.pull-right{
       float:none!important;
    }
    .bloc-group .bloc{
         display:block;
         width:100%;
     }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	   padding-left: 10px;
	   padding-right: 10px;
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0;
        padding-right: 0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none;
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        /* margin-top: 30px; */
        /* margin-bottom: 30px; */
    }
    .video-bg-contianer{
        display:none;
    }

}
        .header-resource-section {
            margin-bottom: 2rem;
            background-color: rgba(233, 236, 239, 0.52);
            border-radius: .3rem;
            padding: 1rem;
        }

        /*
 * Author: istex dl
 *
 * Project Name: istex dl  - Bootstrap 3 Theme
 * Version: 1.0
 *
 */

        /* istex style sg */

        /* général */

        .centered {
            text-align: center;
        }

        /* Boutons */

        .btn-theme {
            color: #458ca5;
            border:solid 1px #458ca5!important;
            background-color: transparent!important;
            margin-bottom: 20px !important;
            margin-top: 20px !important;
          }
  
         .btn-theme:hover {
            color: #000;
            border: solid 1px #c4d733!important;
            background-color: #c4d733!important;
        }
        .btn-theme:hover::after {
            color: black;
        }

        .btn-th1 {
            font-size: 22px;
            text-align:left;
            padding: 3px;
        }

        .btn-th2 {
            padding: 5px;
            padding-left: 20px;
        }

        .btn-img {
            width: 35px;
            height: 35px;
        }
        .btn-td1 {
            text-align: left;
            font-size: 18px;
            padding: 3px;
        }

        .btn-td1 span {
            font-weight: bold;
        }

        .btn {
            padding: 10px 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 28px;
            border: 5px solid transparent;
            border-radius: 0px!important
        }

        .btn-exemple {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 20px;
            border: 2px solid transparent;
        }

        .istex-dl-error-api {
            /* background-color: #c4d733; */
            padding-top: 10px;
            margin-bottom: 0px;
        }

        .istex-dl-error-api p {
            color: white;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
        }

        /* zone requete*/

        .istex-dl-request {
            /* background-color: #f2f2f2; */
        }

        .istex-dl-request h2 span {
            font-size: 80%;
        }

        .istex-dl-error-request {
            /* background-color: #c4d733; */
            padding-top: 10px;
            margin-bottom: 0px;
        }

        .istex-dl-error-request p,blockquote {
            color: #FF0000;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
        }

        .istex-dl-apercu {
            font-weight: 300;
            font-size: 18px;
            color: #555;
        }

        .blockquote-Syntax-error{
            border-left: 5px solid #000000;
        }
        /* zone format*/

        .istex-dl-format {
            /* background-color: #eaeade; */
        }

        .istex-form-group{
        	margin-bottom: 13px;
        }
        /* zone Download */

        .istex-dl-download {
            /* background-color: #f2f2f2; */
            font-weight: 300;
            font-size: 16px;
            color: #555;
        }

        .istex-dl-menu {
            border-width: 0px;
            position: fixed !important;
            width: 100%;
            bottom: 0;
            height: 80px;
            -ms-overflow-x: hidden;
            overflow-x: hidden;
            -ms-overflow-y: hidden;
            overflow-y: hidden;
            background-color: rgba(36, 43, 50, 1);
            background-image: none;
            left: 0;
        }
        .bottom-menu-ico {
            text-align: center;
            vertical-align: bottom;
            font-size: 42px;
            color: #C4D933;
            cursor: pointer;
        }
        .bottom-menu-ico.disabled, .bottom-menu-ico[disabled], fieldset[disabled] .bottom-menu-ico {
            opacity: 50%;
            border: none;
            cursor: not-allowed;
        }
        .bottom-menu-ico.disabled:hover, .bottom-menu-ico[disabled]:hover, fieldset[disabled] .bottom-menu-ico:hover {
            opacity: 50%;
            border: none;
            cursor: not-allowed;
            color: #C4D933;
        }
        .bottom-menu-ico:hover {
            color:white;
            cursor: pointer;
        }

        
        .bottom-menu-txt {
            text-align: center;
            font-size: 16px;
            vertical-align: top;
            position: relative;
            top: -10px;
        }

        .istex-dl-error-download {
            /* background-color: #c4d733; */
            padding-top: 10px;
            margin-bottom: 0px;
        }

        .istex-dl-error-download p {
            color: white;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
        }
        .indent {
    padding-left: 52px;
}
.buttonSelect {
  display: inline-block;
  border-radius: 4px;
  background-color: #70a6ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
 left: 50%;

}

.buttonSelect span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonSelect span:after {
  content: '\002705';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.buttonSelect:hover span {
  padding-right: 25px;
}

.buttonSelect:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonClose{
    color:red;
    border: none;
    float:right;
    margin-right: -13px;
    background-color: inherit;
    outline:none;
}

.buttonClose:hover{
    text-shadow: 1px 1px 2px #000000;
}

.exampleRequest{
    margin-right:20px;
}
.exempleRequestLine{
    margin-top: 20px;
}

.column-buttons  {
    width: 33.3333%;
    display: inline-block;
    position: absolute;
}
.column-buttons i {
  width: 100%;
  text-align: center;
}
.column-buttons .select-button{
	-webkit-transition: all 0.25s ease-in-out;
  	-moz-transition: all 0.25s ease-in-out;
  	-ms-transition: all 0.25s ease-in-out;
  	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	margin-top: 25px;
    margin-left: 80px;
    border: solid 1px #458ca5;
    width: 200px;
    color: #458ca5;
    padding: 5px;
	cursor: pointer;
}
.column-buttons .select-button:hover{
    border-color: #c4d733;
    color: #000;
    background-color: #c4d733;
}
.column-buttons .select-button div{
	 display: inline-block;
	 width: 33%;
	 overflow: hidden;
	 vertical-align: middle;
}
.column-buttons i::before {
    margin-left: 10px;
    margin-right: 10px;
}
.column-buttons .fa{
    font-size: 35px;
}


.column-buttons p{
    font-size: 20px;
    display: inline;
    vertical-align: middle;
}

#copyButton{
    margin-top: 0px;
    height: 30px;
}

#shareButton{
    height: auto;
    padding: 4px;
}

.history-modal{
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}
.history tr td:nth-child(2) {
    max-width: 150px;
    white-space: pre-wrap !important;
}

.history tr td:nth-child(3) {
    max-width: 430px;
    white-space: pre-line !important;
}

.history tr td:nth-child(7) {
    max-width: 150px;
    white-space: nowrap !important;
}

#exampleButton{
    margin-top: 260px;
}

.vl {
    border-left: 3px solid black;
    height: 355px;
    margin-top: 250px;
    margin-left: 60px;
    position: absolute;
    top: 0;
}

.buttonsHistory i{
    font-size: 25px;
    margin-left: 10px;
}

#requestLimitInfo, #choiceHelpInfo {
    font-size:20px;
}

#characterLimitHelpInfo {
    font-size: 20px;
}

@media (max-width: 1200px){
    .column-buttons  {
        width: 100%;
        position: relative;
    }
    .column-buttons .select-button{
        display: inline-block;
        margin-left: 20px;
        margin-top: 10px;
        width: 75px;
    }
      .column-buttons .select-button div{
        width: 100%;
    }
    #exampleButton{
        margin-top: 10px;
    }
    .vl{
        display: none;
    }
    .column-buttons p{
        display: none;
    }
}

    .nav-tabs > li > a {
    }
    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    	border: 1px solid #458ca5;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    	color: #fff !important;
    	background-color: #c4d733!important;
        border: 1px solid #c4d733!important;
	}
	.nav-tabs.nav-justified > li > a {
    	margin-bottom: 0 !important;
    	color: #458ca5 !important;
        border: 1px solid #458ca5;
    }
    .nav-tabs.nav-justified > li > a:hover, .nav-tabs.nav-justified > li > a:focus {
        color: #000 !important;
        border: 1px solid #c4d733!important;
        background-color: #c4d733 !important;
    }

	.nav-tabs.nav-justified > .active > a {
    	color: #000 !important;
	}
	.nav-tabs.nav-justified > li {
    	margin: 0 !important;
    	padding: 0 !important;
        background-color: transparent!important;
	}
	.nav > li > a:focus {
    	background-color: #c4d733;
    }
    .nav > li > a:hover{
    	background-color: #c4d733!important;
	}
    .nav-pills {
    margin-bottom: 8px!important;
    }
    .nav-pills > li > a {
        border: 1px solid #458ca5;
        color: #458ca5;
        border-radius: 0!important;
    }
    .nav-pills > li > a:hover {
        border: 1px solid #c4d733;
        background-color: #c4d733;
        color: #000;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background-color: #c4d733!important;
        color:  #000!important;
        border: 1px solid #c4d733;
    }
	.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label {
    	color: #FFA500 !important;
	}

	.has-warning .form-control {
    	border-color: #ffa500 !important;
	}
	.has-warning .form-control:focus {
    	border-color: #ffa500 !important;
	}
	.has-warning .form-control-feedback {
    	color: #ffa500 !important;
	}
	.num-etape{
		background-color: #c4d733;
		border-radius: 50%;
		font-size: 30px !important;
		width: 50px;
        margin-right: 10px;
	}
	h2, .h2 {
    	border-bottom: solid 2px black;
    	padding-bottom: 10px;
    	color: rgb(51, 51, 51) !important;
    	text-align: left;
	}
	h2 .fa, .h2 .fa {
    	float: right;
	}
    h2 .fa-info-circle, .checkboxperso .fa-info-circle, .form-group .fa-info-circle, .rankBy .fa-info-circle {
        color: #458ca5!important;
    }
   h2 .fa-info-circle:hover, .checkboxperso .fa-info-circle:hover, .form-group .fa-info-circle:hover,
    .rankBy .fa-info-circle:hover {
        color: #000!important;
    }
    .nav-pills .active .fa-info-circle, .nav-pills a:hover .fa-info-circle {
        color: #000!important;
    }

	.exempleRequestLine .fa.fa-search::before{
		font-size: 1.7em;
		vertical-align: sub;
		}
    .tooltip {
        opacity: 1!important
    }
    .tooltip-inner a {
        color: #337ab7;
    }
    .tooltip-inner a:hover {
        color: #337ab7;
    }
    .tooltip-inner {
        color: #000!important;
        background-color: #fff!important;
        font-family: 'Open Sans', sans-serif!important;
        font-size: 14px!important;
     }
    /*modif patrick */
.input-range__track--active {
    background: #c4d733!important;
}
.input-range__slider {
    background: #c4d733!important;
    border: 1px solid #c4d733!important;
}
.form-group {
    width: 100%;
}
.nav-tabs.nav-justified {
    width: 80%!important;
}
.has-success .form-control {
    border-color: #c4d733!important;
}
.btn-default {
    color:#458ca5!important;
    font-weight: 700!important;
}
.btn-danger {
    font-weight: 700!important;
}
.btn-default:hover {
    color: #000!important;
    background-color: #c4d733!important;
    border-color: #c4d733!important;;
}
.column-buttons .btn {
    text-align: left!important;
}


@media(min-width:768px){
    .nav-pills > li + li {
        margin-left: 8px !important;
    }
}
@media(min-width:992px){
    .nav-pills > li + li {
        margin-left: 8px !important;
    }
}
@media(min-width:1200px){
    .nav-pills > li + li {
        margin-left: 8px !important;
    }
}
@media(max-width:767px){
    .nav-pills > li {
        width: 50%;
        padding-left: 0px;
    }
    .nav-pills > li + li {
        margin-left: 0px !important;
    }
}
.exempleBtn{
    border: 1px solid #458ca5;
    color: #458ca5;
    border-radius: 0!important;
    display: inline-block;
    float: right;
    font-size: 18px;
    line-height: 36px;
    padding-left: 15px;
    padding-right: 28px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.exempleBtn i{
    font-size: 35px;
    padding-right: 10px;
    float: left;
}
.exempleH2 {
    /* padding-bottom:15px; */
}


.exempleBtn:hover{
    border: 1px solid #458ca5;
    color: #333;
    background:#c4d933;
    cursor: pointer;
    border-color: #c4d933;
}
.limitNbDocTxt{
    color: rgb(51, 51, 51);
    /* font-weight: 600; */
}
.pTxt {
    line-height: 40px;
}
.widget {
    border: 1px solid #303030;
    color: #303030;
    width: 95%;
    cursor: pointer;
    /* height: 280px; */
    /* max-height: 280px; */
    max-width: 350px;
    min-width: 280px;
    border-top: 2px solid #303030;
}
.lv1 {
    text-align: right;
    padding-top: 20px;
}
.lv11 {
    text-align: center;
    border: 1px solid #242b31;
    margin-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
    width: 50px;
}
.lv21 {
    text-align: center;
    border: 1px solid #242b31;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 4px;
    border-top: 0;
    width: 50px;
    display: inline-block;
}
.lv2 {
    text-align: right;
    padding-bottom: 10px;
}
.lv3 {
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 50px;
}
.lv4 {
    text-align: center;
    padding-bottom: 60px;
}
.lv5 {
    text-align: center;
    border-top: 1px solid #303030;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    background: #242b32;
    color: #c4d733 !important;
    height: 50px;
    line-height: 50px;
}
.up {
    padding-left: 0px !important;
    border-top: 1px solid black;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.usages {
    margin-bottom: 15px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 10px;
}
.hidden { display:none; }

.ico-usage {
    font-size: 30px;
    /* margin-left: 40px; */
    /* margin-right: 40px; */
}

.col-widget {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.txtU {
    font-size: 14px;
}
.lv5:hover {
    background-color: #458ca5;
    color: white !important;
}
.ico-back {
}

.back-btn{
    color:#458ca5;
    cursor: pointer;
}
.floatRight{
    float: right !important;
}

.istex-dl-menu > .col-lg-12, .istex-dl-menu > .col-xs-12, .istex-dl-menu > .col-sm-12 {
    padding: 0px !important;
}

.container{
	max-width:1170px;
}

.lv2b{
    text-align: right;
    padding-bottom: 18px;
}

.istex-dl-menu > .col-xs-12 > .col-xs-3{
    padding: 0 !important;
}

.noPaddingLeftRight {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.res_widget {
    width: 95% !important;
    border: 1px solid #458ca5;
    border-left: 10px solid #458ca5;
    min-width: 280px;
    max-width: 350px;
    margin-top: 20px;
    height: 110px;
    overflow-y: overlay;
    overflow-x: hidden;
    display: block;
    margin-right: 20px;
}

.res_title {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    color: #458ca5;
}

.res_author {
    padding: 5px;
    padding-top: 0px;
    font-style: italic;
}


@media (min-width: 1200px) {
    .res_hostTitle_lg {
        padding-left: 5px;
        padding-bottom: 5px;
        width:295px;
    }
}
@media (min-width: 992px) {
    .res_hostTitle_md {
        padding-left: 5px;
        padding-bottom: 5px;
        width:235px;
    }
}

@media (min-width: 768px) {
    .res_hostTitle_sm {
        padding-left: 5px;
        padding-bottom: 5px;
        width:235px;
    }
}
.res_pubDate {
    padding-right: 5px;
}

.samplesDiv {
    border-bottom: 1px solid #303030;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    color: #303030;
}


.res_widget:hover {
    cursor: pointer;
    background: #c4d934;
    border-left: 10px solid black;
}

.res_widget:hover  .res_title{
    color: black;
}

.text-default {
    color:#458ca5;
}

.hide {
    display: hidden;
}

.selectedUsage .lv5{
    background: #458ca5 !important;
    color:white !important
}

.res_tr_bottom{
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.widget i {
    display: none;
}

.selectedUsage i {
    display: inline-block !important;
}

.limitNbDocTxtHide {
    display: none;
}

.iEchantillonRes {
    float:right;
    color:#458ca5!important;
    font-size: 20px !important;
}
.UsagePerso {
    color:#458ca5!important;
}