.istex-footer {
  border-width: 0px;
  position: fixed !important;
  width: 100%;
  bottom: 0;
  background-color:#458da6;
  left: 0;

  &__text {
    text-align: center;
    font-size: 16px;
    vertical-align: top;
    position: relative;
    top: -10px;
  }

  &__icon {
    color : #1d1d1d;;
    &:hover {
      color: #ffffff;
    }
  }

  &__tooltip {
    max-width: 12rem;
    color: 'white';
  }
}
