.istex-footer {
  border-width: 0px;
  position: fixed !important;
  width: 100%;
  bottom: 0;
  height: 80px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background-color: rgba(36, 43, 50, 1);
  left: 0;
  color: rgb(196, 217, 51);

  &__link {}

  &__text {
    text-align: center;
    font-size: 16px;
    vertical-align: top;
    position: relative;
    top: -10px;
  }
}
