@mixin generateClass($suffix, $color, $backgroundColor) {
  .feedback-message-#{$suffix} {
    background-color: $backgroundColor;
    color: $color;
    border-color: $color;
    border-width: 1px;
  }
}

// I was not always able to reference the Istex colors with the theme function as it
// does not work when called inside of another function like rgba.
// rgba(theme('myColor'), 0.5) creates a "theme('myColor') is not a color" error (possibly a bug in tailwind)
@include generateClass(success, theme('colors.istcolor-green.dark'), rgba(#a9bb1e, 0.15));
@include generateClass(error, #cd3434, #ffecec);
@include generateClass(warning, #e38b31, rgba(232, 148, 79, 0.21));
@include generateClass(information, theme('colors.istcolor-blue'), rgba(#458ca5, 0.15));
