/** Need these classes because of a bug of tailwind */
.history-tab-request  {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &__ark {
    -webkit-line-clamp: 8;
  }

  &__query-string {
    -webkit-line-clamp: 2;
  }
}
