.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.history-table {
  display: flex;
  flex-direction: column;
}

.history-header {
  display: flex;
}

.history-header-item {
  margin: auto;
  border: 1px solid black;
  padding: 0.2em;
}

.history-header-item.number {
  flex: 1;
}

.history-header-item.date {
  flex: 2;
}

.history-header-item.request {
  flex: 3;
}

.history-header-item.formats {
  flex: 2;
}

.history-header-item.nb-docs {
  flex: 1;
}

.history-header-item.rank {
  flex: 2;
}

.history-header-item.actions {
  flex: 2;
}
