.determinate input[type=checkbox] {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: none;
    border-radius: 10% 10% 10% 10%;
    border: 1px solid grey;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.indeterminate input[type=checkbox]{
    -webkit-appearance: none;
    white-space: nowrap;
    overflow:hidden;
    border-radius: 10% 10% 10% 10%;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    background-color: transparent;
    margin-right: 5px;
}

.indeterminate input[type=checkbox]:after{
    -webkit-appearance: none;
    content: "-";
    text-align: center;
    margin-left: -1px;
    margin-top: -3px;
    color: black;
    display: block;
}

.determinate input[type=checkbox]:checked:after {
    -webkit-appearance: none;
    content: "\2713";
    text-align: center;
    margin-left: -4px;
    margin-top: -3px;
    color: black;
    display: block;
}

.determinate input[type=checkbox]:hover {
    -webkit-appearance:none;
    box-shadow: 1px 1px 1px black;
}

.indeterminate input[type=checkbox]:hover {
    -webkit-appearance:none;
    box-shadow: 1px 1px 1px black;
}

.determinate input[type=checkbox][disabled] {
    -webkit-appearance: none;
    background-color: #DCDCDC;
}

.indeterminate input[type=checkbox][disabled] {
    -webkit-appearance: none;
    background-color: #DCDCDC;
}

.determinate input[type=checkbox][disabled]:hover {
    box-shadow: none;
}

.indeterminate input[type=checkbox][disabled]:hover {
    box-shadow: none;
}
