.indeterminate input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.indeterminate input[type="checkbox"] + span:after{
  content: '';
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background: yellow;
  border: 2px solid grey;
  border-radius: 4px;
  transition: .3s;
}

.indeterminate input[type="checkbox"]:checked + span:after {
  background:yellow;
}

.determinate input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.determinate input[type="checkbox"] + span:after{
  content: '';
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background: white;
  border: 2px solid grey;
  border-radius: 4px;
  transition: .3s;
}

.determinate input[type="checkbox"]:checked + span:after {
  background:   #42f445;
}

.determinate input[type="checkbox"]:focus + span:after{
  border-color: #42cbf4
}

.determinate input[type="checkbox"]:disabled + span:after{
   background-color: grey;
}

.determinate input[type="checkbox"]:disabled:hover + span:after{
  border-color: grey;
  cursor: not-allowed;
}

.determinate input[type="checkbox"]:hover + span:after{
  border-color: #42cbf4;
}

.indeterminate input[type="checkbox"]:hover + span:after{
  border-color: #42cbf4
}

#glyphiconFiletype {
    padding-left: 15px;
    vertical-align: center;
    font-size: 18px;
}
