.buttonSelect {
  display: inline-block;
  border-radius: 4px;
  background-color: #70a6ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
 left: 50%;

}

.buttonSelect span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonSelect span:after {
  content: '\002705';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.buttonSelect:hover span {
  padding-right: 25px;
}

.buttonSelect:hover span:after {
  opacity: 1;
  right: 0;
}
