.buttonSelect span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonSelect span:after {
  content: '\002705';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.buttonSelect:hover span {
  padding-right: 25px;
}

.buttonSelect:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonClose{
    color:red;
    border: none;
    float:right;
    margin-right: -13px;
    background-color: inherit;
    outline:none;
}

.buttonClose:hover{
    text-shadow: 1px 1px 2px #000000;
}
