// These variables are duplicated from the MUI theme for when it's more convenient
// to write SCSS instead of using the sx prop on the MUI components.
// It's not ideal but it's better than nothing.

$green-dark: #a9bb1e;
$green-light: #c4d733;
$blue: #458ca5;
$black-dark: #1d1d1d;
$black-light: #4a4a4a;
$white: #f0f0f0;
