/* MAIN COLORS */
$m-light-grey: #f0f0f0;
$m-blue: #458ca5;
$m-light-green: #c4d733;
$m-dark-green: #a9bb1e;
$m-light-black: #1d1d1d;
$m-dark-grey: #4a4a4a;
$m-medium-grey: #8f8f8f;
$m-black: #1d1d1d;
$m-black-title: #303030;
$m-brown-grey: #8f8f8f;

/* REGULAR COLORS */
$white: #fff;
$black: #000;
