body {
  margin: 0;
  font-family: "Montserrat-Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/images/BG_ISTEX_LIGHT_DESKTOP.jpeg) center repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/* @deprecated, use tailwind instead */
.text-brown-grey {
  color: $m-brown-grey;
}

/* @deprecated, use tailwind instead */
.text-light-black {
  color: $m-light-black;
}

/* Need to do this, because with tailwind we cannot add linear gradient inside config */
.cta1:hover, .cta1:focus, .content .button.cta1 > a:hover, .content .button.cta1:hover > a, .content .button.cta1 > a:focus, .cta3:hover, .cta3:focus {
  background: linear-gradient(270deg,#51a7c5 0%,#458ca5 100%);
}
