body {
  margin: 0;
  font-family: "Montserrat-Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/* @deprecated, use tailwind instead */
.text-brown-grey {
  color: $m-brown-grey;
}

/* @deprecated, use tailwind instead */
.text-light-black {
  color: $m-light-black;
}

/* Need to do this, because with tailwind we cannot add linear gradient inside config */
.cta1:hover, .content .button.cta1 > a:hover, .content .button.cta1:hover > a, .content .button.cta1 > a:focus, .cta3:hover, .cta3:focus {
  background: linear-gradient(270deg,#51a7c5 0%,#458ca5 100%);
}

/* Need to do this, because with tailwind we cannot add linear gradient inside config */
.cta2:hover, .content .button.cta2 > a:hover {
  background: linear-gradient(270deg,#e27673 0%,#d9534f 100%);
}

[data-testid=toast-element] {
  background-color: rgb(69, 140, 165);
  color: #fff;
} 

[role=tooltip], [data-testid="tooltip-arrow"] {
  background: rgb(70,70,70) !important;
  z-index: 1000;
  text-align: left;
}

[data-testid=modal] {
  z-index: 3000;
}

.istex-modal{
  &__header {
    background-color: #458CA5;  
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  } 
  &__text {
    color: #fefefe;
    font-weight: 700;
  }
}
